{% extends 'bootstrap_3_layout.html.twig' %}

{% block _restaurant_shipment_isBusinessUnitDriver_widget %}
    <button id="select-driver" disabled type="button" class="btn btn-sm btn-labeled btn-primary disabled" data-toggle="modal" data-target="#myModal">انتخاب راننده</button>
    <label class="switch">
        <input name="restaurant_shipment[isBusinessUnitDriver]" type="checkbox" id="shipment-switch" value="1">
        <div class="slider round"></div>
    </label>
{% endblock %}

{% block shipment_row %}
    <form action="{{ path('app_customer_dashboard_shipment_new') }}" method="POST" class="panel form-horizontal">
        {{ form_errors(form) }}
        <div class="panel-heading">
            <span class="panel-title">ثبت درخواست ارسال</span>
        </div>
        <div class="panel-body">
            {% block shipment_description_row %}
            <div class="form-group row">
                <label class="col-sm-2">{{ form_label(form.description) }}</label>
                <div class="col-sm-10">{{ form_widget(form.description, { 'attr': {'class': 'form-control'} } ) }}</div>
            </div>
            {% endblock %}
            <div class="form-group row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4">{{ form_label(form.pickUpTime) }}</label>
                        <div class="calc_price_item col-sm-8" style="direction: rtl !important;">{{ form_widget(form.pickUpTime ) }}</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4">{{ form_label(form.other_phone) }}</label>
                        <div class="col-sm-8">
                            {{ form_widget(form.other_phone) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4"><button id="add-addr" class="btn btn-sm btn-labeled btn-primary" data-toggle="modal" data-target="#mapModal">افزودن آدرس</button></label>
                        <div class="col-sm-8">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-12">
                    {% block child_form %}{% endblock %}
                </div>
            </div>
            {% if form.isBusinessUnitDriver is defined %}
            <div class="form-group row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4">{{ form_label(form.isBusinessUnitDriver) }}</label>
                        <div class="col-sm-8">
                            {{ form_widget(form.isBusinessUnitDriver) }}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if form.driver is defined %}
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">انتخاب راننده</h4>
                        </div>
                        <div class="modal-body">
                            <ul class="drivers">
                                {{ form_widget(form.driver) }}
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button id="assign-driver" type="button" class="btn btn-default" data-dismiss="modal">انتخاب</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <h4 class="ui horizontal divider header">
                <span>محاسبه قیمت و ایجاد سفارش</span>
            </h4>
            <div style="margin-top: 10px;margin-bottom: 10px">
                <span id="calculate_price" style="color: red" class=""><b>قیمت کل :</b></span>
                <h5 id="cost_show" style="display: inline">---</h5>
            </div>
            <div class="price_send">

            </div>
            <input  class="btn btn-flat btn-sm btn-labeled btn-success creator_shipment" type="submit" tabindex="0" value="ایجاد سفارش" disabled />
            {{ form_rest(form) }}
        </div>
    </form>
{% endblock %}