{% extends 'bootstrap_3_layout.html.twig' %}

{% block shipment_row %}
    <form action="{{ path('app_customer_dashboard_shipment_new') }}" method="POST" class="panel form-horizontal">
        {{ form_errors(form) }}
        <div class="panel-heading">
            <span class="panel-title">ثبت درخواست ارسال</span>
        </div>
        <div class="panel-body">
            {% block shipment_description_row %}
            <div class="form-group row">
                <label class="col-sm-2">{{ form_label(form.description) }}</label>
                <div class="col-sm-10">{{ form_widget(form.description, { 'attr': {'class': 'form-control'} } ) }}</div>
            </div>
            {% endblock %}
            <div class="form-group row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4">{{ form_label(form.pickUpTime) }}</label>
                        <div class="calc_price_item col-sm-8" style="direction: rtl !important;">{{ form_widget(form.pickUpTime ) }}</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4">{{ form_label(form.other_phone) }}</label>
                        <div class="col-sm-8">
                            {{ form_widget(form.other_phone) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-12">
                    {% block child_form %}{% endblock %}
                </div>
            </div>
            <h4 class="ui horizontal divider header">
                <span>محاسبه قیمت و ایجاد سفارش</span>
            </h4>
            <div style="margin-top: 10px;margin-bottom: 10px">
                <span id="calculate_price" style="color: red" class=""><b>قیمت کل :</b></span>
                <h5 id="cost_show" style="display: inline">---</h5>
            </div>
            <div class="price_send">

            </div>
            <input  class="btn btn-flat btn-sm btn-labeled btn-success creator_shipment" type="submit" tabindex="0" value="ایجاد سفارش" disabled />
            {{ form_rest(form) }}
        </div>
    </form>
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            vertical-align: middle;
        }

        .switch input {display:none;}

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
        .drivers {
            list-style: none;
        }
    </style>
{% endblock %}