{% extends ':customer/dashboard:layout.html.twig' %}

{% block stylesheets %}
    {{ parent()  }}
    {% stylesheets 'bundles/app/stylesheets/customer/dashboard/shipment/show/style.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}


{% block javascripts %}
    {{ parent()  }}
    {% javascripts
    'bundles/app/javascript/customer/dashboard/shipment/initial_map.js'
    'assets/vendor/socket.io-client/dist/socket.io.js'
    'bundles/app/javascript/customer/dashboard/shipment/tracking_shipment.js'
    'bundles/app/javascript/customer/dashboard/shipment/cancel_shipment.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    <script src="{{ getGoogleMapInitLink() }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block breadcrumbs %}
    <li class="active">مرسوله ها</li>
{% endblock %}
{% block title %}
    فهرست مرسوله ها
{% endblock %}
{% block page_title %}
    فهرست مرسوله ها
{% endblock %}
{% block header_link %}
    <a class="btn btn-sm btn-labeled btn-primary" style="margin-right: 10px" href="{{ path('app_customer_dashboard_shipment_new') }}"><span class="btn-label icon fa fa-plus-square"></span>درخواست مرسوله ی جدید</a>
{% endblock %}
{% block main %}
    {% set motorIcon = asset('bundles/app/images/motor.png') %}
    <div class="alert alert-info" id="alert_msg_cancel_shipment-by-customer" style="display: none">

    </div>
    <div class="panel-body">
        <table class="table table-striped" >
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'شماره مرسوله','s.id') }}</th>
                <th {% if pagination.isSorted('s.description') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'توضیحات', 's.description') }}</th>
                <th{% if pagination.isSorted('s.status') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'وضعیت', 's.status') }}</th>
                <th{% if pagination.isSorted('s.pickUptime') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'تاریخ تحویل سفارش', 's.pickUpTime') }}</th>
                <th{% if pagination.isSorted('s.createdAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'تاریخ ایجاد سفارش', 's.createdAt') }}</th>
                <th{% if pagination.isSorted('s.price') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'هزینه ارسال', 's.price') }}</th>
                <th>نام راننده</th>
                <th>عملیات</th>
            </tr>
            </thead>
            <tbody>
            {% for shipment in pagination %}
                <tr>
                    <td><a href="{{ path('app_customer_dashboard_shipment_show', { 'id': shipment.id }) }}">{{ shipment.id }}</a></td>
                    <td>{{ shipment.description }}</td>
                    <td class="customer_shipment_status{{ shipment.id }}">
                        {% if shipment.status == constant('STATUS_NOT_ASSIGNED',shipment) %}
                            <span>انتصاب نشده</span>
                        {% elseif  shipment.status == constant('STATUS_ASSIGNMENT_SENT',shipment) %}
                            <span>در حال بررسی</span>
                        {% elseif   shipment.status == constant('STATUS_REJECT',shipment) %}
                            <span>لغو توسط اپراتور</span>
                        {% elseif  shipment.status == constant('STATUS_ASSIGNED',shipment) %}
                            <span>انتصاب شده</span>
                        {% elseif  shipment.status == constant('STATUS_CANCEL',shipment) %}
                            <span>کنسل شده توسط مشتری</span>
                        {% elseif  shipment.status == constant('STATUS_CUSTOMER_FAILED',shipment) %}
                            <span>لغو توسط مشتری</span>
                        {% elseif  shipment.status == constant('STATUS_ON_PICK_UP',shipment) or  shipment.status == constant('STATUS_PICKED_UP',shipment)  %}
                            <span> تحویل مرسوله به راننده</span>
                        {% elseif shipment.status == constant('STATUS_ON_DELIVERY',shipment)  %}
                            <span>در حال رساندن مرسوله به مشتری</span>
                        {% elseif  shipment.status == constant('STATUS_DRIVER_FAILED',shipment) %}
                            <span>لغو توسط راننده</span>
                        {% elseif  shipment.status == constant('STATUS_WAITING_FOR_PAYMENT',shipment) %}
                            <span>پرداخت نشده</span>
                        {% elseif shipment.status == constant('STATUS_DELIVERED',shipment) %}
                            <span>تحویل مرسوله با موفقیت</span>
                        {% else %}
                            <span>نامعلوم</span>
                        {% endif %}
                    </td>
                    <td>{% if shipment.pickUpTime %}{{ shipment.pickUpTime|jdate('Y/m/d') }}{% endif %}</td>
                    <td>{% if shipment.createdAt %}{{ shipment.createdAt|jdate('Y/m/d') }}{% endif %}</td>
                    <td>{{ shipment.price }}</td>
                    <td>
                        {% if shipment.assignedDriver %}
                            {{ shipment.assignedDriver.fullName }}
                        {% else %}
                            -
                        {% endif %}
                    <td>
                    <td>
                        <a class="btn btn-sm btn-labeled btn-success" href="{{ path('app_customer_dashboard_shipment_show', { 'id': shipment.id }) }}">نمایش</a>
                    </td>
                    {% if
                    shipment.status == constant('STATUS_NOT_ASSIGNED',shipment) or
                    shipment.status == constant('STATUS_ASSIGNMENT_SENT',shipment)
                    %}
                        <td class="customer_shipment_cancel_btn{{ shipment.id }}"><button value="{{ shipment.id }}" class="cancel_shipment_button btn btn-sm btn-labeled btn-danger">کنسل</button></td>
                    {% endif %}
                    {% if
                    shipment.status == constant('STATUS_ON_PICK_UP',shipment) or
                    shipment.status == constant('STATUS_PICKED_UP',shipment) or
                    shipment.status == constant('STATUS_ON_DELIVERY',shipment)
                    %}
                    <td class="tracking_btn{{ shipment.id }}"><button data-lat = "{{ shipment.otherAddress.latitude }}" data-lng = "{{ shipment.otherAddress.longitude }}" data-token = "{{ shipment.trackingToken }}" data-toggle="modal" class="tracking_shipment_button btn btn-sm btn-info">پیگیری</button></td>
                    {% endif  %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div id="tracking_shipment_modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">پیگیری مرسوله</h4>
                </div>
                <div class="modal-body">
                    <div style="height: 273px" data-icon =" {{ motorIcon }}" id="list-shipment-map-modal"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="cancel_modal_customer" data-target="#uidemo-modals-alerts-danger" class="modal small fade modal modal-alert modal-warning fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="fa fa-warning"></i>
                </div>
                <div class="modal-body">
                    <input class="type" type="hidden">
                    {#<div class="header">Header</div>#}
                    <div class="content">
                        <h3>مطمئن هستید ؟</h3>
                    </div>
                    <div  class="actions modal-footer" style="margin-right: 85px">
                        <div id="accept_cancel_button" style="float: right;margin-bottom: 20px" class="ui approve button btn btn-success" data-value="" data-dismiss="modal">بلی</div>
                        <div style="float: right" class="ui cancel button btn btn-danger" data-dismiss="modal">خیر</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui one column stackable center aligned page grid navigation">
        <div class="pagination menu column twelve wide ui" style="font-size: 18px">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
