{% extends ':customer/dashboard:layout.html.twig' %}
{% block breadcrumbs %}
    <li class="active">سفارشات</li>
{% endblock %}
{% block page_title %}
    لیست سفارشات
{% endblock %}
{% block header_link %}
    <a class="btn btn-sm btn-labeled btn-primary" style="margin-right: 10px" href="{{ path('app_customer_dashboard_shipment_new') }}"><span class="btn-label icon fa fa-plus-square"></span>ایجاد سفارش جدید</a>
{% endblock %}
{% block main %}
   <div class="panel-body">
    <table class="table table-striped" >
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'id','s.id') }}</th>
            <th {% if pagination.isSorted('s.description') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'توضیحات', 's.description') }}</th>
            <th{% if pagination.isSorted('s.status') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'وضعیت', 's.status') }}</th>
            <th{% if pagination.isSorted('s.pickUptime') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'زمان تحویل سفارش', 's.pickUpTime') }}</th>
            <th{% if pagination.isSorted('s.createdAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'زمان ایجاد سفارش', 's.createdAt') }}</th>
            <th{% if pagination.isSorted('s.price') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'قیمت تحویل سفارش', 's.price') }}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for shipment in pagination %}
            <tr>
                <td><a href="{{ path('app_customer_dashboard_shipment_show', { 'id': shipment.id }) }}">{{ shipment.id }}</a></td>
                <td>{{ shipment.description }}</td>
                <td>{{ shipment.status }}</td>
                <td>{% if shipment.pickUpTime %}{{ shipment.pickUpTime|date('Y-m-d') }}{% endif %}</td>
                <td>{% if shipment.createdAt %}{{ shipment.createdAt|date('Y-m-d') }}{% endif %}</td>
                <td>{{ shipment.price }}</td>
                <td>
                    <a class="btn btn-sm btn-labeled btn-success" href="{{ path('app_customer_dashboard_shipment_show', { 'id': shipment.id }) }}"><span class="btn-label icon fa fa-eye"></span>نمایش</a>
                    {% if
                    shipment.status == constant('STATUS_NOT_ASSIGNED',shipment) or
                    shipment.status == constant('STATUS_ASSIGNMENT_SENT',shipment) or
                    shipment.status == constant('STATUS_ASSIGNMENT_REJECT',shipment)
                    %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="ui one column stackable center aligned page grid navigation">
        <div class="pagination menu column twelve wide ui" style="font-size: 18px">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
