{% extends ':customer/dashboard:layout.html.twig' %}

{% block main %}
    <div class="page-header">
        <h2 class="ui header" style="display: inline">لیست سفارشات {{ app.user.fullName }}</h2>
        <a style="margin-right: 10px" href="{{ path('app_customer_dashboard_shipment_new') }}"><button class="btn">ایجاد سفارش جدید</button></a>
    </div>
    <div class="panel-body">
    <table class="table" >
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'id','s.id') }}</th>
            <th {% if pagination.isSorted('s.description') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'توضیحات', 's.description') }}</th>
            <th{% if pagination.isSorted('s.value') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'ارزش بسته', 's.value') }}</th>
            <th{% if pagination.isSorted('s.status') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'وضعیت', 's.status') }}</th>
            <th{% if pagination.isSorted('s.pickUptime') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'زمان تحویل سفارش', 's.pickUpTime') }}</th>
            <th{% if pagination.isSorted('s.createdAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'زمان ایجاد سفارش', 's.createdAt') }}</th>
            <th{% if pagination.isSorted('s.price') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'قیمت تحویل سفارش', 's.price') }}</th>
            <th{% if pagination.isSorted('s.type') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'نوع سفارش', 's.type') }}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for shipment in pagination %}
            <tr>
                <td><a href="{{ path('app_customer_dashboard_shipment_show', { 'id': shipment.id }) }}">{{ shipment.id }}</a></td>
                <td>{{ shipment.description }}</td>
                <td>{{ shipment.value }}</td>
                <td>{{ shipment.status }}</td>
                <td>{% if shipment.pickUpTime %}{{ shipment.pickUpTime|date('Y-m-d') }}{% endif %}</td>
                <td>{% if shipment.createdAt %}{{ shipment.createdAt|date('Y-m-d') }}{% endif %}</td>
                <td>{{ shipment.price }}</td>
                <td>{{ shipment.type }}</td>
                <td>
                    <a href="{{ path('app_customer_dashboard_shipment_show', { 'id': shipment.id }) }}"><button class="btn">نمایش</button></a>
                    {% if
                    shipment.status == constant('STATUS_NOT_ASSIGNED',shipment) or
                    shipment.status == constant('STATUS_ASSIGNMENT_SENT',shipment) or
                    shipment.status == constant('STATUS_ASSIGNMENT_REJECT',shipment)
                    %}
                        <a href="{{ path('app_customer_dashboard_shipment_edit', { 'id': shipment.id }) }}"><button class="btn">ویرایش</button></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="ui one column stackable center aligned page grid navigation">
        <div class="pagination menu column twelve wide ui" style="font-size: 18px">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
