{% extends ':customer/dashboard:layout.html.twig' %}

{% block page_title %}
   {#<h1>#}
       {#ثبت درخواست ارسال#}
   {#</h1>#}
{% endblock %}

{% block main %}

    <form action="{{ path('customer_dashboard_shipment_new') }}" method="POST" class="ui form">

        {{ form_errors(form) }}

        <h4 class="ui dividing header">ثبت درخواست ارسال</h4>

        <div class="field">
            <label>{{ form_label(form.description) }}</label>
            <div>{{ form_widget(form.description ) }}</div>
        </div>

        <div class="two fields">
            <div class="field">
                <label>{{ form_label(form.pickUpTime) }}</label>
                <div>{{ form_widget(form.pickUpTime ) }}</div>
            </div>
            <div class="field">
                <label>{{ form_label(form.value) }}</label>
                <div>{{ form_widget(form.value ) }}</div>
            </div>
        </div>

        <div class="two fields">
            <div class="field">
                <label>{{ form_label(form.ownerAddress) }}</label>
                <div>{{ form_widget(form.ownerAddress ) }}</div>
            </div>
            <div class="field">
                <label>{{ form_label(form.otherAddress) }}</label>
                <div>{{ form_widget(form.otherAddress ) }}</div>
            </div>
        </div>


        <input class="ui button" type="submit" tabindex="0" value="ایجاد" />


        {{ form_rest(form) }}
    </form>



















    {#{{ form_start(form, {attr: {class: "ui form"}}) }}#}
        {#{% set children = form.children%}#}

                {#{% for child in children %}#}
                    {#{% if loop.index %2 != 0 %}#}
                        {#<div class="two fields">#}
                    {#{% endif %}#}

                        {#<div class="field">#}
                            {#{{ form_label(child)}}#}
                            {#{{ form_widget(child) }}#}
                        {#</div>#}


                    {#{% if loop.index %2 == 0 %}#}
                        {#</div>#}
                    {#{% endif %}#}

                {#{% endfor %}#}
            {#</div>#}
        {#<input type="submit" value="Create" />#}
    {#{{ form_end(form) }}#}

    <ul>
        <li>
            <a href="{{ path('customer_dashboard_shipment_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}


{% block stylesheets %}

    {{ parent()  }}
    {% stylesheets
    'bundles/app/stylesheets/customer/dashboard/shipment/new.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}