{% extends ':customer/dashboard:layout.html.twig' %}

{% block page_title %}

{% endblock %}

{% block main %}

    <form action="{{ path('customer_dashboard_shipment_new') }}" method="POST" class="ui form">

        {{ form_errors(form) }}

        <h4 class="ui dividing header">ثبت درخواست ارسال</h4>

        <div class="field">
            <label>{{ form_label(form.description) }}</label>
            <div>{{ form_widget(form.description ) }}</div>
        </div>

        <div class="two fields">
            <div class="field">
                <label>{{ form_label(form.pickUpTime) }}</label>
                <div class="calc_price_item" style="direction: rtl !important;">{{ form_widget(form.pickUpTime ) }}</div>
            </div>
            <div class="field">
                <label>{{ form_label(form.value) }}</label>
                <div>{{ form_widget(form.value ) }}</div>
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>آدرس فرستنده</label>
                <div class="calc_price_item" style="margin-top: 10px" id="address_show_section">
                    {% for infoAddress in address %}
                        {% if infoAddress.customer.id == customerId %}
                            {% if loop.index <=4 %}
                                <div class="" style="margin-top: 10px">
                                    {% if loop.index == 1 %}
                                        <input checked type="radio"  name="publicAddress" value="{{ infoAddress.id }}"><span>{{ infoAddress.description }}</span>
                                    {% else %}
                                        <input type="radio"  name="publicAddress" value="{{ infoAddress.id }}"><span>{{ infoAddress.description }}</span>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                {% if address|length >= 5 %}
                    <div class="ui accordion">
                        <div class="title">
                            <i class="dropdown icon"></i>
                            <span style="color:#2b669a">آدرس های دیگر</span>
                        </div>
                        {#<a id="addressContinue" style="cursor: pointer"> آدرس های دیگر+</a>#}
                        <div class="otherAddress content calc_price_item" id="bbb">
                            {% for infoAddress in address %}
                                {% if infoAddress.customer.id == customerId %}
                                    {% if loop.index >=5 %}
                                        <input id="" type="radio"  name="publicAddress" value="{{ infoAddress.id }}"><span>{{ infoAddress.description }}</span>
                                        <br>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div style="margin-top: 10px">
                    <a class="address_modal" name="ownerFormModal" style="cursor: pointer">افزودن آدرس جدید</a>
                </div>
            </div>
            <div class="field">
                {#<label>شماره گیرنده</label>#}
                <label>{{ form_label(form.other) }}</label>
                <div>
                    {{ form_widget(form.other) }}
                    {#<input id="mobile_reciver"  name="reciver_mobile_number" placeholder="وارد کردن شماره تلفن همراه" type="text">#}
                    <div id="reciver_address" class="ui toggle checkbox" style="margin-top: 5px">
                        <input class="calc_price_item"  id="show_reciver_address_btn" name="public" type="checkbox" disabled>
                        <label>نمایش آدرس</label>
                    </div>
                    <div id="reciver_info_box" class="calc_price_item" style="margin-top: 15px;display: none">

                    </div>
                    <div id="noAddress"  style="margin-top:10px;display: none">
                        <span>آدرسی وجود ندارد</span>
                    </div>
                    <div id="reciver_modal_box" style="margin-top: 15px">
                        <a class="address_modal" name="otherFormModal" style="cursor: pointer;display: none">افزودن آدرس جدید</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="field">
            <label>{{ form_label(form.photoFiles) }}</label>
            <div>{{ form_widget(form.photoFiles, {'attr': {'class': 'roapp-image-upload'}}) }}</div>
        </div>
        <h4 class="ui horizontal divider header">
            <span>محاسبه قیمت و ایجاد سفارش</span>
        </h4>
        <div style="margin-top: 10px;margin-bottom: 10px">
            <span id="calculate_price" style="color: red" class=""><b>قیمت کل :</b></span>
            <h5 id="cost_show" style="display: inline">---</h5>
        </div>
        <div class="price_send">

        </div>
        <input  class="ui button creator_shipment" type="submit" tabindex="0" value="ایجاد سفارش" disabled />
        {{ form_rest(form) }}
    </form>
    <div style="margin-top: 10px">
        <a href="{{ path('customer_dashboard_shipment_index') }}"><button class="ui grey button">بازگشت</button></a>
    </div>
    <div style="margin-bottom: 10px" class="ui modal" id="address_modal_form">
        <i class="close icon"></i>
        <div class="header">
            <span>افزودن آدرس جدید</span>
        </div>
        <div class="image content">
            <div class="description">
                <div id="map"></div>
                <input id="address" style="position: absolute; top: 37px;" class="controls" type="text" placeholder="آدرس">‍
            </div>
        </div>
        <div id="load_form_place" style="margin: 20px" class="ui form">

        </div>
    </div>
{% endblock %}

    {% block stylesheets %}
        {{ parent()  }}
        {% stylesheets
            'bundles/app/stylesheets/customer/dashboard/shipment/new.css'
            'assets/vendor/persian-datepicker/src/css/persian-datepicker.css'
            'bundles/app/stylesheets/customer/dashboard/address/style.css'
            'assets/vendor/dropzone/dist/dropzone.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />

        {% endstylesheets %}
    {% endblock %}


    {% block javascripts %}
        {{ parent()  }}

        {% javascripts
            'assets/vendor/persian-datepicker/lib/persian-date.js'
            'assets/vendor/persian-datepicker/dist/js/persian-datepicker-0.4.5.min.js'
            'bundles/app/javascript/customer/dashboard/shipment/script.js'
            'bundles/app/javascript/customer/dashboard/address/script.js'
            'assets/vendor/dropzone/dist/min/dropzone.min.js'
            'bundles/roappmedia/roapp-upload.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
        <script src="{{ getGoogleMapInitLink() }}"></script>
        {% endjavascripts %}

        <script>
            $(document).ready(function() {
                $(".js-datepicker").pDatepicker(
                        {
                            timePicker: {
                                enabled: true,
                                showSeconds: true,
                                showMeridian: true,
                                scrollEnabled: true,
                                showOn: 'button',
                                buttonImageOnly: true,
                                changeMonth: true,
                                changeYear: true,
                                dateFormat: 'dd-mm-yy',
                                yearRange: "-0:+1"
                            }
                        }
                );
            });
        </script>

    {% endblock %}