{% extends ':customer/dashboard:layout.html.twig' %}

{% block page_title %}
   {#<h1>#}
       {#ثبت درخواست ارسال#}
   {#</h1>#}
{% endblock %}

{% block main %}

    <form action="{{ path('customer_dashboard_shipment_new') }}" method="POST" class="ui form">

        {{ form_errors(form) }}

        <h4 class="ui dividing header">ثبت درخواست ارسال</h4>

        <div class="field">
            <label>{{ form_label(form.description) }}</label>
            <div>{{ form_widget(form.description ) }}</div>
        </div>

        <div class="two fields">
            <div class="field">
                <label>{{ form_label(form.pickUpTime) }}</label>
                <div style="direction: rtl !important;">{{ form_widget(form.pickUpTime ) }}</div>
            </div>
            <div class="field">
                <label>{{ form_label(form.value) }}</label>
                <div>{{ form_widget(form.value ) }}</div>
            </div>
        </div>

        <div class="two fields">
            <div class="field">
                <label>{{ form_label(form.ownerAddress) }}</label>
                <div>{{ form_widget(form.ownerAddress ) }}</div>
            </div>
            <div class="field">
                <label>{{ form_label(form.otherAddress) }}</label>
                <div>{{ form_widget(form.otherAddress ) }}</div>
            </div>
        </div>

        <input class="ui button" type="submit" tabindex="0" value="ایجاد" />

        {{ form_rest(form) }}
    </form>

    <ul>
        <li>
            <a href="{{ path('customer_dashboard_shipment_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

{% block stylesheets %}
    {{ parent()  }}
    {% stylesheets
    'bundles/app/stylesheets/customer/dashboard/shipment/new.css'
    'assets/vendor/persian-datepicker/src/css/persian-datepicker.css'
    %}


    <link rel="stylesheet" href="{{ asset_url }}" />

    {% endstylesheets %}
{% endblock %}


{% block javascripts %}
    {{ parent()  }}

    {% javascripts
    'assets/vendor/persian-datepicker/lib/persian-date.js'
    'assets/vendor/persian-datepicker/dist/js/persian-datepicker-0.4.5.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}" ></script>
    {% endjavascripts %}

    <script>
        $(document).ready(function() {
            $(".js-datepicker").pDatepicker(
                    {
                        timePicker: {
                            enabled: true,
                            showSeconds: true,
                            showMeridian: true,
                            scrollEnabled: true
                        },
                    }
            );
        });
    </script>



{% endblock %}