{% extends ':customer/dashboard:layout.html.twig' %}

{% block page_title %}
ثبت درخواست ارسال
{% endblock %}
{% block breadcrumbs %}
    <li><a href="{{ path('app_customer_dashboard_shipment_index') }}">سفارشات</a></li>
    <li class="active">ثبت درخواست ارسال</li>
{% endblock %}
{% block main %}
    {% form_theme form child_form_template %}
    {{ form_row(form) }}
    <div style="margin-top: 10px">
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">انتخاب راننده</h4>
                    </div>
                    <div class="modal-body">
                        <ul class="drivers">
                            {% if drivers is not null %}
                                {% for driver in drivers %}
                                    <li>
                                        <input class="driver-input" type="radio" name="driver" value="{{ driver.id }}">
                                        {{ driver.phone }}
                                    </li>
                                {% endfor %}
                            {% else %}
                                <li>راننده آزادی وجود ندارد</li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button id="assign-driver" type="button" class="btn btn-default" data-dismiss="modal">انتخاب</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

    {% block stylesheets %}
        {{ parent()  }}
        {% stylesheets
            'bundles/app/stylesheets/customer/dashboard/shipment/new.css'
            'assets/vendor/persian-datepicker/src/css/persian-datepicker.css'
            'bundles/app/stylesheets/customer/dashboard/address/style.css'
            'assets/vendor/dropzone/dist/dropzone.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <link rel="stylesheet" href="{{ asset(child_form_stylesheet) }}" />
    {% endblock %}


    {% block javascripts %}
        {{ parent()  }}
        {% javascripts
            'assets/vendor/persian-datepicker/lib/persian-date.js'
            'assets/vendor/persian-datepicker/dist/js/persian-datepicker-0.4.5.min.js'

            'bundles/app/javascript/customer/dashboard/address/script.js'
            'assets/vendor/dropzone/dist/min/dropzone.min.js'
            'bundles/roappmedia/roapp-upload.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>

        {% endjavascripts %}
        <script src="{{ asset(child_form_javascript) }}" type="application/javascript"></script>
        <script>
            $(document).ready(function() {
                $(".js-datepicker").pDatepicker(
                        {
                            timePicker: {
                                enabled: true,
                                showSeconds: true,
                                showMeridian: true,
                                scrollEnabled: true,
                                showOn: 'button',
                                buttonImageOnly: true,
                                changeMonth: true,
                                changeYear: true,
                                dateFormat: 'dd-mm-yy',
                                yearRange: "-0:+1"
                            }
                        }
                );
            });
        </script>
        <script>
            $(document).ready(function() {
                var $otherPhone = $('#restaurant_shipment_other_phone');
                // When sport gets selected ...
                $otherPhone.on('keyup', function () {
                    // ... retrieve the corresponding form.
                    var $form = $(this).closest('form');
                    // Simulate form data, but only include the selected sport value.
                    var data = {};
                    data[$otherPhone.attr('name')] = $otherPhone.val();
                    data[$otherPhone.attr('name')] = $otherPhone.val();
                    // Submit data via AJAX to the form's action path.
                    $.ajax({
                        url: $form.attr('action'),
                        type: $form.attr('method'),
                        data: data,
                        success: function (html) {
                            // Replace current position field ...
                            $('#restaurant_shipment_otherAddress').replaceWith(
                                // ... with the returned one from the AJAX response.
                                $(html).find('#restaurant_shipment_otherAddress')
                            );
                            // Position field now displays the appropriate positions.
                        }
                    });
                });
            })

            $(".calc_price_item").on('change', function () {
                var ownerAddressId = $('#restaurant_shipment_ownerAddress').val();
                var otherAddressId = $('#restaurant_shipment_otherAddress input:checked').val();
                var shipmentValue = 1000;
                var shipmentPickUpTime = $("#restaurant_shipment_pickUpTime").val();
                $.ajax({
                    url: 'calc_shipment_price',
                    data: {
                        ownerAddressId: ownerAddressId,
                        otherAddressId: otherAddressId,
                        shipmentValue: shipmentValue,
                        shipmentPickUpTime: shipmentPickUpTime
                    },
                    type: "POST",
                    success: function (response) {
                        $("#calculate_price").html("<b>قیمت کل :</b>");
                        $("#cost_show").html(response);
                        $("#cost_show").css('display', 'inline');
                        $(".price_send").prepend(
                                '<input name="price_shipment" type="hidden" value="'+response+'">'
                        );
                        $('.creator_shipment').prop('disabled', false);
                    }
                });
            });
            $('#assign-driver').on('click', function () {
                $('#hidden-driver').val($('.driver-input:checked').val());
            })

        </script>
    {% endblock %}