{% extends ':customer/dashboard:layout.html.twig' %}

{% block stylesheets %}
    {{ parent()  }}
    {% stylesheets 'bundles/app/stylesheets/customer/dashboard/shipment/show/style.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent()  }}
    {% javascripts
    'assets/vendor/socket.io-client/socket.io.js'
    'bundles/app/javascript/customer/dashboard/shipment/show/map.js'
    'bundles/app/javascript/customer/dashboard/shipment/cancel_shipment.js'
    'bundles/app/javascript/customer/dashboard/shipment/fail_shipment.js'
    'bundles/app/javascript/customer/dashboard/shipment/validation_code.js'
    %}
    <script src="{{ asset_url }}"></script>
    <script src="{{ getGoogleMapInitLink() }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block main %}
    <h2 class="ui header">سفارش</h2>

    <table class="ui celled table">
        <tbody class="headColor">
            <tr>
                <th>Id</th>
                <td>{{ shipment.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ shipment.description }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ shipment.value }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ shipment.status }}</td>
            </tr>
            <tr>
                <th>Pickuptime</th>
                <td>{% if shipment.pickUpTime %}{{ shipment.pickUpTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if shipment.createdAt %}{{ shipment.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ shipment.price }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ shipment.type }}</td>
            </tr>
        </tbody>
    </table>
            <a href="{{ path('app_customer_dashboard_shipment_index') }}"><button>برگشت به لیست</button></a>
            <a href="{{ path('app_customer_dashboard_shipment_edit', { 'id': shipment.id }) }}"><button>ویرایش</button></a>
            {{ form_start(delete_form) }}
                <input type="submit" value="حذف">
            {{ form_end(delete_form) }}

    <div data-token = {{ tracking_token }} id="show-shipment-map"></div>

    <div id="cancel_modal_customer" class="ui modal small">
        {#<div class="header">Header</div>#}
        <div class="content">
            <h3>مطمئن هستید ؟</h3>
        </div>
        <div  class="actions">
            <div id="accept_cancel_button" style="float: right;margin-bottom: 20px" class="ui approve button">بلی</div>
            <input id="shipment_id" type="hidden" value="{{ shipment.id }}">
            <div style="float: right" class="ui cancel button">خیر</div>
        </div>
    </div>
    <div id="fail_modal_customer" class="ui modal small">
        <div class="header">دلیل لغو سفارش</div>
        <div class="content">
            <div class="ui form field">
                <textarea id="fail_customer_reason" placeholder="دلیل لغو سفارش را خود را یادداشت نمایید" rows="2"></textarea>
            </div>
        </div>
        <div  class="actions">
            <div id="accept_fail_button_customer" style="float: right;margin-bottom: 20px" class="ui approve button">تایید</div>
            <div style="float: right" class="ui cancel button">کنسل</div>
        </div>
    </div>
    <a href="{{ path('app_customer_dashboard_shipment_index') }}"><button>برگشت به لیست</button></a>
    {% if
    shipment.status == constant('STATUS_NOT_ASSIGNED',shipment) or
    shipment.status == constant('STATUS_ASSIGNMENT_SENT',shipment) or
    shipment.status == constant('STATUS_ASSIGNMENT_REJECT',shipment)
    %}
        <a id="edit_button_customer_shipment" href="{{ path('app_customer_dashboard_shipment_edit', { 'id': shipment.id }) }}"><button>ویرایش</button></a>
        <a id="cancel_button"><button>کنسل</button></a>
    {% endif %}
    {% if
    shipment.status == constant('STATUS_ASSIGNED',shipment) or
    shipment.status == constant('STATUS_ON_PICK_UP',shipment) or
    shipment.status == constant('STATUS_PICKED_UP',shipment) or
    shipment.status == constant('STATUS_ON_DELIVERY',shipment)
    %}
        {#<a id="cancel_button"><button>کنسل</button></a>#}
        <a id="fail_button_customer"><button>لغو</button></a>
    {% endif %}
    {{ form_start(delete_form) }}
    <input type="submit" value="حذف">
    {{ form_end(delete_form) }}
    <div id="valid_code_form_section">
        {% if shipment.status == constant('STATUS_ON_PICK_UP',shipment) %}
        <div class="ui horizontal divider header">ارسال کد دریافتی</div>
        <div id="send_code_button" class="ui form">
            {{ form_start(form) }}
            <div class="four wide field">
                <label>{{ form_label(form.exchange_code) }}</label>
                <div>{{ form_widget(form.exchange_code ) }}</div>
            </div>
            <div class="field">
                <input type="hidden" style="" value="{{ shipment.id }}" name="shipment_id" />
            </div>
            <div class="field">
                <input id="" type="submit" style="" value="ارسال" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    {% endif %}
{% endblock %}
