{% extends ':customer/dashboard:layout.html.twig' %}

{% block main %}
    <h2 class="ui header">سفارش</h2>

    <table class="ui celled table">
        <tbody class="headColor">
        <tr>
            <th>Id</th>
            <td>{{ shipment.id }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ shipment.description }}</td>
        </tr>
        <tr>
            <th>Value</th>
            <td>{{ shipment.value }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ shipment.status }}</td>
        </tr>
        <tr>
            <th>Pickuptime</th>
            <td>{% if shipment.pickUpTime %}{{ shipment.pickUpTime|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Createdat</th>
            <td>{% if shipment.createdAt %}{{ shipment.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ shipment.price }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ shipment.type }}</td>
        </tr>
        </tbody>
    </table>
    <div class="ui modal small">
        {#<div class="header">Header</div>#}
        <div class="content">
            <h3>مطمئن هستید ؟</h3>
        </div>
        <div  class="actions">
            <div id="accept_cancel_button" style="float: right;margin-bottom: 20px" class="ui approve button">بلی</div>
            <input id="shipment_id" type="hidden" value="{{ shipment.id }}">
            <div style="float: right" class="ui cancel button">خیر</div>
        </div>
    </div>
    <a href="{{ path('app_customer_dashboard_shipment_index') }}"><button>برگشت به لیست</button></a>
    <a href="{{ path('app_customer_dashboard_shipment_edit', { 'id': shipment.id }) }}"><button>ویرایش</button></a>
    {% if shipment.status != 3 %}
        <a id="cancel_button"><button>کنسل</button></a>
    {% endif %}
    {{ form_start(delete_form) }}
    <input type="submit" value="حذف">
    {{ form_end(delete_form) }}
    {% block javascripts %}
        {{ parent()  }}

        {% javascripts
        'bundles/app/javascript/customer/dashboard/shipment/cancel_shipment.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
        {% endjavascripts %}
    {% endblock %}
{% endblock %}
