<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}

        {% stylesheets
        'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
        'assets/vendor/roapp-pixel-admin/html/assets/stylesheets/pixel-admin.min.css'
        'assets/vendor/roapp-pixel-admin/html/assets/stylesheets/pages.min.css'
        'assets/vendor/roapp-pixel-admin/html/assets/stylesheets/rtl.min.css'
        'assets/vendor/roapp-pixel-admin/html/assets/stylesheets/themes.min.css'
        'assets/vendor/roapp-pixel-admin/help/assets/font-awesome.min.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body dir="rtl" class="theme-default page-signin-alt">

    {% if error %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ error.messageKey|trans(error.messageData, 'security') }}<
    </div>
    {% endif %}

     <div class="signin-header">
         <a href="index.html" class="logo">
             <div class="demo-logo bg-primary"><img src="assets/demo/logo-big.png" alt="" style="margin-top: -4px;"></div>&nbsp;
             <strong>Roapp</strong>
         </a> <!-- / .logo -->
         <a href="pages-signup-alt.html" class="btn btn-primary">ثبت نام</a>
     </div> <!-- / .header -->
     <h1 class="form-header">ورود به سامانه</h1>
     <!-- Form -->
     <form action="{{ path('app_customer_dashboard_security_login') }}" id="signin-form_id" class="panel" method="post">
         <div class="form-group">
             <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control input-lg" placeholder="پست الکترونیکی">
             <input type="hidden" name="_target_path" value="{{ url('app_customer_dashboard_default_index') }}" />
         </div> <!-- / Username -->

         <div class="form-group signin-password">
             <input type="password" name="_password" id="password" class="form-control input-lg" placeholder="رمز عبور">
             <a href="#" class="forgot">فراموشی?</a>
         </div> <!-- / Password -->

         <div class="form-actions">
             <input type="submit" value="ورود" class="btn btn-primary btn-block btn-lg">
         </div> <!-- / .form-actions -->
     </form>
     <!-- / Form -->
     <div class="signin-with">
         <div class="header">ورود با</div>
         <a href="index.html" class="btn btn-lg btn-facebook rounded"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
         <a href="index.html" class="btn btn-lg btn-info rounded"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
         <a href="index.html" class="btn btn-lg btn-danger rounded"><i class="fa fa-google-plus"></i></a>
     </div>
</body>