{% extends ':operator/dashboard:layout.html.twig' %}
{% block page_title %}
    مشتری
{% endblock %}
{% block breadcrumbs %}
    <li><a href="{{ path('app_operator_dashboard_customer_index') }}">مشتریان</a></li>
    <li class="active">نمایش</li>
{% endblock %}
{% block main %}
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">مشتری</span>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ایمیل</th>
                    <th>رمز عبور</th>
                    <th>وضعیت</th>
                    <th>تلفن</th>
                    <th>نام واحد شغلی</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ customer.username }}</td>
                    <td>{{ customer.password }}</td>
                    <td>{% if customer.isActive %}آنلاین{% else %}آفلاین{% endif %}</td>
                    <td>{{ customer.phone }}</td>
                    <td>{{ customer.businessUnit.name }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <a style="margin-right: 10px;margin-bottom: 10px" class="btn btn-sm btn-labeled btn-primary" href="{{ path('app_operator_dashboard_customer_index') }}">لیست کل مشتریان</a>
            {#<a style="color: black" href="{{ path('app_operator_dashboard_customer_edit', { 'id': customer.id }) }}"><button>ویرایش</button></a>#}
            {#{{ form_start(delete_form) }}#}
            {#<input type="submit" value="حذف">#}
            {#{{ form_end(delete_form) }}#}
        </div>
    </div>
    {% block stylesheets %}
        {{ parent()  }}
        {% stylesheets
        'bundles/app/sass/operator/dashboard/customerList/showPageStyle.scss'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
{% endblock %}
