{% extends ':operator/dashboard:layout.html.twig' %}

 {% block main %}
     <h2 class="ui header">لیست سرویس دهنده ها</h2>
     <table class="ui celled table">
         <thead>
         <tr>
             <th>{{ knp_pagination_sortable(pagination, 'نام کاربری','d.username') }}</th>
             <th{% if pagination.isSorted('d.phone') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'شماره تلفن', 'd.phone') }}</th>
             <th{% if pagination.isSorted('d.isActive') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'وضعیت', 'd.isActive') }}</th>
         </tr>
         </thead>
         {% for driver in pagination %}
             <tr {% if loop.index is odd %}class="color"{% endif %}> </tr>
             <tbody>
             <tr>
                 <td>{{ driver.username}}</td>
                 <td>{{ driver.phone}}</td>
                 {% if driver.isActive %}
                     <td>آنلاین</td>
                 {% else %}
                     <td>آفلاین</td>
                 {% endif %}
                 <td>{{ driver.status }}</td>
             </tr>
             </tbody>
         {% endfor %}
     </table>
     <div class="ui one column stackable center aligned page grid navigation">
         <div class="pagination menu column twelve wide ui" style="font-size: 18px">
             {{ knp_pagination_render(pagination) }}
         </div>
     </div>
 {% endblock %}