{% extends ':operator/dashboard:layout.html.twig' %}

{% block main %}
    <h1>ویرایش راننده</h1>
    <div class="ui form">
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="ثبت ویرایش" />
        {{ form_end(edit_form) }}
    </div>
    <div style="margin-top: 10px">
        <a style="color: black" href="{{ path('operator_dashboard_driver_list') }}"><button>لیست کل راننده ها</button></a>
        {{ form_start(delete_form) }}
        <input type="submit" value="حذف">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
