{% extends ':customer/dashboard:layout.html.twig' %}
{% block page_title %}
   جزئیات پرداخت
{% endblock %}
{% block breadcrumbs %}
    <li><a href="{{ path('app_dashboard_customer_payment_index') }}">پرداخت ها</a></li>
    <li class="active">نمایش</li>
{% endblock %}
{% block main %}
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">جزئیات پرداخت</span>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>نام</th>
                    <th>نام خانوادگی</th>
                    <th>شماره کارت</th>
                    <th>نام بانک</th>
                    <th>کد رهگیری</th>
                    <th>قیمت</th>
                </tr>
                </thead>
                <tbody class="headColor">
                <tr>
                    <td>{{ payment.data.first_name }}</td>
                    <td>{{ payment.data.last_name }}</td>
                    <td>{{ payment.data.card_number }}</td>
                    <td>{{ payment.data.bank_name }}</td>
                    <td>{{ payment.data.tracking_code }}</td>
                    <td>{{ payment.invoice.price }}</td>
                </tr>
                </tbody>
            </table>
            <div>
                <a style="margin-right: 10px;margin-bottom: 10px" class="btn btn-sm btn-labeled btn-primary" href="{{ path('app_dashboard_customer_payment_index') }}">فهرست پرداخت ها</a>
            </div>
        </div>
    </div>
{% endblock %}