{% extends ':operator/dashboard:layout.html.twig' %}
{% block page_title %}
    ویرایش واحد شغلی
{% endblock %}
{% block breadcrumbs %}
    <li><a href="{{ path('app_operator_dashboard_businessunit_index') }}">واحد های شغلی</a></li>
    <li class="active">ویرایش واحد شغلی</li>
{% endblock %}
{% block main %}
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    <div class="panel-heading">
        <span class="panel-title">ویرایش واحد شغلی</span>
    </div>
    <div class="panel-body">
        {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
        <div class="form">
            <div class="form-group">
                {{ form_label(edit_form.name, null, {"label_attr":{"class": "col-sm-2 control-label"}}) }}
                <div class="col-sm-10">
                    {{ form_widget(edit_form.name, {"attr": {"placeholder": edit_form.name.vars.label}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.businessType, null, {"label_attr":{"class": "col-sm-2 control-label"}}) }}
                <div class="col-sm-10">
                    {{ form_widget(edit_form.businessType, {"attr": {"placeholder": edit_form.businessType.vars.label}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.contractType, null, {"label_attr":{"class": "col-sm-2 control-label"}}) }}
                <div class="col-sm-10">
                    {{ form_widget(edit_form.contractType, {"attr": {"placeholder": edit_form.contractType.vars.label}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(edit_form.defaultAddress, null, {"label_attr":{"class": "col-sm-2 control-label"}}) }}
                <div class="col-sm-10">
                    {{ form_widget(edit_form.defaultAddress, {"attr": {"placeholder": edit_form.defaultAddress.vars.label}}) }}
                </div>
            </div>
            <div class="form-group" style="margin-bottom: 10px;">
                <div class="col-sm-offset-2 col-sm-10">
                    <input id="driver_edit_button" class="btn btn-flat btn-sm btn-labeled btn-info" type="submit" value="ویرایش" />
                </div>
            </div>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}
