{% extends ':operator/dashboard:layout.html.twig' %}

{% block breadcrumbs %}
    <li class="active">واحدهای شغلی</li>
{% endblock %}

{% block page_title %}
    فهرست واحدهای شغلی
{% endblock %}

{% block header_link %}
    <a href="{{ path('app_operator_dashboard_businessunit_new') }}" class="btn btn-sm btn-labeled btn-primary"><span class="btn-label icon fa fa-plus-square"></span>ایجاد واحد شغلی جدید</a>
{% endblock %}

{% block main %}
    <div class="panel">
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'نام','a.name') }}</th>
                    <th>صنف</th>
                    <th>نوع قرار داد</th>
                    <th>عملیات</th>
                </tr>
                </thead>
                <tbody>
                {% for businessunit in pagination %}
                    <tr>
                        <td>
                            <a href="{{ path('app_operator_dashboard_businessunit_show', { 'id': businessunit.id }) }}">{{ businessunit.name }}</a>
                        </td>
                        <td>
                            {{ businessunit.businessType.persianName }}
                        </td>
                        <td>
                            {% if businessunit.contractType == constant('AppBundle\\DBAL\\EnumContractType::ENUM_PER_MONTH') %}
                                <span>ماهیانه</span>
                            {% else %}
                                <span>به ازای هر سفارش</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('app_operator_dashboard_businessunit_show', { 'id': businessunit.id }) }}" class="btn btn-sm btn-labeled btn-success"><span class="btn-label icon fa fa-eye"></span>نمایش</a>&nbsp;&nbsp;
                            <a href="{{ path('app_operator_dashboard_businessunit_edit', { 'id': businessunit.id }) }}" class="btn btn-sm btn-labeled btn-info"><span class="btn-label icon fa fa-pencil-square-o"></span>ویرایش</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
