{% extends ':operator/dashboard:layout.html.twig' %}

{% block breadcrumbs %}
    <li class="active">واحدهای شغلی</li>
{% endblock %}

{% block page_title %}
    لیست واحدهای شغلی
{% endblock %}

{% block header_link %}
    <a href="{{ path('app_operator_dashboard_businessunit_new') }}" class="btn btn-sm btn-labeled btn-primary"><span class="btn-label icon fa fa-camera-retro"></span>ایجاد واحد شغلی جدید</a>
{% endblock %}

{% block main %}
    <div class="panel-body">
    <table class="ui celled table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'نام','a.name') }}</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
        {% for businessunit in pagination %}
            <tr>
                <td><a href="{{ path('app_operator_dashboard_businessunit_show', { 'id': businessunit.id }) }}">{{ businessunit.name }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('app_operator_dashboard_businessunit_show', { 'id': businessunit.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('app_operator_dashboard_businessunit_edit', { 'id': businessunit.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
