{% extends ':operator/dashboard:layout.html.twig' %}

{% block main %}
    <h1 class="ui header">Businessunit</h1>

    <table class="ui celled table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ businessUnit.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ businessUnit.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('app_operator_dashboard_businessunit_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('app_operator_dashboard_businessunit_edit', { 'id': businessUnit.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
