{% extends ':operator/dashboard:layout.html.twig' %}

{% block page_title %}
    ایجاد نقش
{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{{ path('operator_dashboard_driver_index') }}">نقش ها</a>
    </li>
{% endblock %}
{% block main %}
{{ form_start(form) }}
<div class="panel-heading">
    <span class="panel-title">ایجاد نقش</span>
</div>
<div class="panel-body">
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    <div class="form-group">
        {{ form_label(form.name, null, {"label_attr":{"class": "col-sm-2 control-label"}}) }}
        <div class="col-sm-10">
            {{ form_widget(form.name, {"attr": {"placeholder": form.name.vars.label}}) }}
            {{ form_errors(form.name) }}
        </div>
    </div> <!-- / .form-group -->
    <div class="form-group">
        {{ form_label(form.label, null, {"label_attr":{"class": "col-sm-2 control-label"}}) }}
        <div class="col-sm-10">
            {{ form_widget(form.label, {"attr": {"placeholder": form.label.vars.label}}) }}
            {{ form_errors(form.label) }}
        </div>
    </div> <!-- / .form-group -->
    <div class="form-group">
        {{ form_label(form.scope, null, {"label_attr":{"class": "col-sm-2 control-label"}}) }}
        <div class="col-sm-10">
            {{ form_widget(form.scope, {"attr": {"placeholder": form.scope.vars.label}}) }}
            {{ form_errors(form.scope) }}
        </div>
    </div> <!-- / .form-group -->
    <div class="form-group" style="margin-bottom: 0;">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="ایجاد" />
        </div>
    </div> <!-- / .form-group -->
    {{ form_end(form) }}
</div>
{% endblock %}
