{% extends ':operator/dashboard:layout.html.twig' %}
{% block breadcrumbs %}
    <li class="active">اپراتور ها</li>
{% endblock %}
{% block page_title %}
    فهرست اپراتور ها
{% endblock %}
{% block header_link %}
    <a href="{{ path('app_operator_dashboard_operator_create') }}" class="btn btn-sm btn-labeled btn-primary"><span class="btn-label icon fa fa-plus-square"></span>ایجاد اپراتور جدید</a>
{% endblock %}
{% block main %}
    <div class="panel">
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'ایمیل','op.email') }}</th>
                    <th{% if pagination.isSorted('op.fullName') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'نام و نام خانوادگی', 'op.fullName') }}</th>
                    <th{% if pagination.isSorted('op.phone') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'شماره تلفن', 'op.phone') }}</th>
                    <th{% if pagination.isSorted('op.password') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'رمز عبور', 'op.password') }}</th>
                    <th{% if pagination.isSorted('op.isActive') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'وضعیت حساب', 'op.isActive') }}</th>
                    <th>عملیات</th>
                </tr>
                </thead>
                <tbody>
                {% for operator in pagination %}
                    <tr>
                        <td><a href="{{ path('app_operator_dashboard_operator_show', { 'id': operator.id }) }}">{{ operator.email }}</a></td>
                        <td>{{ operator.fullName }}</td>
                        <td>{{ operator.phone }}</td>
                        <td>{{ operator.password }}</td>
                        <td>{% if operator.isActive %}فعال{% else %}غیر فعال{% endif %}</td>
                        <td>
                            <a href="{{ path('app_operator_dashboard_operator_show', { 'id': operator.id }) }}" class="btn btn-sm btn-labeled btn-success"><span class="btn-label icon fa fa-eye"></span>نمایش</a>&nbsp;&nbsp;
                            <a href="{{ path('app_operator_dashboard_operator_edit', { 'id': operator.id }) }}" class="btn btn-sm btn-labeled btn-info"><span class="btn-label icon fa fa-pencil-square-o"></span>ویرایش</a>&nbsp;&nbsp;
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="ui one column stackable center aligned page grid navigation">
        <div class="pagination menu column twelve wide ui" style="font-size: 18px">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
