{% extends ':operator/dashboard:layout.html.twig' %}
{% block page_title %}
    اپراتور
{% endblock %}
{% block breadcrumbs %}
    <li><a href="{{ path('app_operator_dashboard_operator_index') }}">اپراتور ها</a></li>
    <li class="active">نمایش</li>
{% endblock %}
{% block main %}
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">اپراتور</span>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ایمیل</th>
                    <th>نام و نام خانوادگی</th>
                    <th>شماره تلفن</th>
                    <th>رمز عبور</th>
                    <th>وضعیت حساب</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ operator.email }}</td>
                    <td>{{ operator.fullName }}</td>
                    <td>{{ operator.phone }}</td>
                    <td>{{ operator.password }}</td>
                    <td>{% if operator.isActive %}فعال{% else %}غیر فعال{% endif %}</td>
                </tr>
                </tbody>
            </table>
            <div>
                <a style="margin-right: 10px;margin-bottom: 10px" class="btn btn-sm btn-labeled btn-primary" href="{{ path('app_operator_dashboard_operator_index') }}">فهرست اپراتور ها</a>
            </div>
        </div>
    </div>
{% endblock %}
