{% extends ':operator/dashboard:layout.html.twig' %}
{% block breadcrumbs %}
    <li class="active">راننده های فعال</li>
{% endblock %}
{% block title %}
    فهرست راننده های فعال
{% endblock %}
{% block page_title %}
    فهرست راننده های فعال
{% endblock %}
{% block main %}
    <div class="panel">
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'نام','d.fullName') }}</th>
                    <th{% if pagination.isSorted('d.phone') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'شماره تلفن', 'd.phone') }}</th>
                    <th{% if pagination.isSorted('d.isActive') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'وضعیت', 'd.isActive') }}</th>
                    <td>عملیات</td>
                </tr>
                </thead>
                <tbody>
                {% for driver in pagination %}
                    {% if driver.status != 0 and driver.status != 2 %}
                        {% if driver.id not in banDriverList %}
                            <tr>
                                <td>{{ driver.fullName   }}</td>
                                <td>{{ driver.phone }}</td>
                                <td>آزاد</td>
                                {#<td><a href="{{ path("app_operator_dashboard_shipment_assignment_match") }}/{{ shipmentId }}/{{ driver.id }}"><button class="btn">انتصاب</button></a></td>#}
                                <td><a href="{{ path("app_operator_dashboard_shipment_assignment_match") }}/{{ shipmentId }}/{{ driver.id }}" class="btn btn-sm btn-labeled btn-info"><span class="btn-label icon fa fa-paperclip"></span>انتصاب</a></td>
                            </tr>
                        {%  endif %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% if pagination.getTotalItemCount > 10 %}
        <div class="ui one column stackable center aligned page grid navigation">
            <div class="pagination menu column twelve wide ui" style="font-size: 18px">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    {% endif  %}
    {% block javascripts %}
        {{ parent() }}
        {% javascripts
        'assets/vendor/jquery/dist/jquery.js'
        '@semantic_base_js'
        %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
        {% endjavascripts %}
    {% endblock %}
{% endblock %}

