{% extends ':operator/dashboard:layout.html.twig' %}
{% block page_title %}
    راننده
{% endblock %}
{% block breadcrumbs %}
    <li><a href="{{ path('app_operator_dashboard_driver_index') }}">راننده ها</a></li>
    <li class="active">نمایش</li>
{% endblock %}
{% block main %}
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">راننده</span>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>نام</th>
                    <th>رمز عبور</th>
                    <th>وضعیت</th>
                    <th>وضعیت فعالیت</th>
                    <th>تلفن</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ driver.fullName }}</td>
                    <td>{{ driver.password }}</td>
                    <td>{% if driver.isActive %}فعال{% else %}غیر فعال{% endif %}</td>
                    {% if driver.status == constant('STATUS_FREE',driver) %}
                        <td>آزاد</td>
                    {% elseif driver.status == constant('STATUS_BUSY',driver) %}
                        <td>مشغول</td>
                    {% elseif driver.status == constant('STATUS_NOT_AVAILABLE',driver) %}
                        <td>خارج از دسترس</td>
                    {% else %}
                        <td>درحال بررسی درخواست</td>
                    {% endif %}
                    <td>{{ driver.phone }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <a style="margin-right: 10px;margin-bottom: 10px" class="btn btn-sm btn-labeled btn-primary" href="{{ path('app_operator_dashboard_driver_index') }}">لیست کل راننده ها</a>
            {#<a style="color: black" href="{{ path('app_operator_dashboard_driver_edit', { 'id': driver.id }) }}"><button>ویرایش</button></a>#}
            {#{{ form_start(delete_form) }}#}
            {#<input type="submit" value="حذف">#}
            {#{{ form_end(delete_form) }}#}
        </div>
    </div>
    {% block stylesheets %}
        {{ parent()  }}
        {% stylesheets
        'bundles/app/sass/operator/dashboard/driverList/showPageStyle.scss'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
{% endblock %}
