{% extends ':customer/dashboard:layout.html.twig' %}

{% block main %}
    <div class="page-header">
        <h2 class="ui header" style="display: inline">لیست آدرس ها</h2>
        <a style="margin-right: 10px" href="{{ path('app_customer_dashboard_address_new') }}"><button class="btn">ایجاد آدرس جدید</button></a>
    </div>
    <div class="panel-body">
    <table class="ui celled table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id','a.id') }}</th>
                <th{% if pagination.isSorted('a.isPublic') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'وضعیت نمایش', 'a.isPublic') }}</th>
                <th{% if pagination.isSorted('a.description') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'آدرس', 'a.description') }}</th>
                {#<th>Latitude</th>#}
                {#<th>Longitude</th>#}
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
        {% for address in pagination %}
            <tr>
                <td><a href="{{ path('app_customer_dashboard_address_show', { 'id': address.id }) }}">{{ address.id }}</a></td>
                <td>{% if address.isPublic %}عمومی{% else %}محرمانه{% endif %}</td>
                <td>{{ address.description }}</td>
                {#<td>{{ address.latitude }}</td>#}
                {#<td>{{ address.longitude }}</td>#}
                <td>
                            <a href="{{ path('app_customer_dashboard_address_show', { 'id': address.id }) }}"><button class="btn">نمایش</button></a>
                            <a href="{{ path('app_customer_dashboard_address_edit', { 'id': address.id }) }}"><button class="btn">ویرایش</button></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="ui one column stackable center aligned page grid navigation">
        <div class="pagination menu column twelve wide ui" style="font-size: 18px">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
