{% extends ':customer/dashboard:layout.html.twig' %}

{% block stylesheets %}
    {{ parent()  }}
    {% stylesheets 'bundles/app/stylesheets/customer/dashboard/address/style.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent()  }}
    {% javascripts
    'bundles/app/javascript/customer/dashboard/address/script.js'
    'https://maps.googleapis.com/maps/api/js?key=AIzaSyArreo16WcGaS9Y8SGJAjsrE88WzL-tTDU&&language=fa&region=IR&libraries=places&callback=initMap'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block page_title %}
    <h1>ثبت آدرس</h1>
{% endblock %}

{% block main %}
    <div id="map""></div>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div class="ui form">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="ایجاد" />
    {{ form_end(form) }}
    </div>

            <a href="{{ path('customer_dashboard_address_index') }}"><button>برگشت به لیست</button></a>
{% endblock %}
