{% extends ':customer/dashboard:layout.html.twig' %}

{% block stylesheets %}
    {{ parent()  }}
    {% stylesheets 'bundles/app/stylesheets/customer/dashboard/address/style.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent()  }}
    {% javascripts
    'bundles/app/javascript/customer/dashboard/address/script.js'
    %}
    <script src="{{ asset_url }}"></script>
    <script src="{{ getGoogleMapInitLink() }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block title %}
    ایجاد آدرس
{% endblock %}
{% block page_title %}
    ایجاد آدرس
{% endblock %}
{% block breadcrumbs %}
    <li><a href="{{ path('app_customer_dashboard_address_index') }}">آدرس ها</a></li>
    <li class="active">ایجاد آدرس</li>
{% endblock %}

{% block main %}
    <div class="panel-heading">
        <span class="panel-title">ایجاد آدرس</span>
    </div>
    <div class="panel-body">
        <div id="map"></div>
        <input id="address" class="controls" type="text" placeholder="آدرس">
        <div class="ui form">
            {{ form_start(form) }}
            {{ form_errors(form) }}
        <input class="btn btn-flat btn-sm btn-labeled btn-success" type="submit" value="ایجاد" />
        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
