{% extends ':customer/dashboard:layout.html.twig' %}

{% block stylesheets %}
    {{ parent()  }}
    {% stylesheets 'bundles/app/stylesheets/customer/dashboard/address/style.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent()  }}
    {% javascripts
    'bundles/app/javascript/customer/dashboard/address/script.js'
    %}
    <script src="{{ asset_url }}"></script>
    <script src="{{ getGoogleMapShowLink() }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block main %}

    <div id="map"></div>

    <h2 class="ui header">آدرس</h2>

    <table class="ui celled table">
        <tbody class="headColor">
            <tr>
                <th>Id</th>
                <td>{{ address.id }}</td>
            </tr>
            <tr>
                <th>وضعیت نمایش</th>
                <td>{% if address.isPublic %}عمومی{% else %}محرمانه{% endif %}</td>
            </tr>
            <tr>
                <th>آدرس</th>
                <td id="address" data-lat="{{ address.latitude }}" data-lng="{{ address.longitude }}">{{ address.description }}</td>
            </tr>
        </tbody>
    </table>

            <a href="{{ path('customer_dashboard_address_index') }}"><button>برگشت به لیست</button></a>
            <a href="{{ path('customer_dashboard_address_edit', { 'id': address.id }) }}"><button>ویرایش</button></a>
            {{ form_start(delete_form) }}
            <input type="submit" value="حذف">

{% endblock %}
