{% extends ':operator/dashboard:layout.html.twig' %}
{% block breadcrumbs %}
    <li class="active">پرداخت ها</li>
{% endblock %}
{% block page_title %}
    لیست پرداخت ها
{% endblock %}
{% block main %}
    <div class="panel">
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>نام پرداخت کننده</th>
                    <th>مبلغ پرداختی</th>
                    <th{% if pagination.isSorted('p.status') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'وضعیت', 'p.status') }}</th>
                    <th{% if pagination.isSorted('p.createdDate') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'تاریخ ایجاد', 'p.createdDate') }}</th>
                    <th{% if pagination.isSorted('p.paidAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'تاریخ پرداخت', 'p.paidAt') }}</th>
                    <th{% if pagination.isSorted('p.method') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'روش پرداخت', 'p.method') }}</th>
                    <th>عملیات</th>
                </tr>
                </thead>
                <tbody>
                {% for payment in pagination %}
                    <tr>
                        <td>{{ payment.person.fullName }}</td>
                        <td>{{ payment.shipment.price }}</td>
                        <td>{{ payment.status }}</td>
                        <td>{{ payment.createdDate|date('Y-m-d H:i:s')}}</td>
                        <td>{{ payment.paidAt|date('Y-m-d H:i:s')}}</td>
                        <td>{{ payment.method }}</td>
                        <td><a href="{{ path('app_operator_dashboard_payment_show', { 'id': payment.id }) }}" class="btn btn-sm btn-labeled btn-success"><span class="btn-label icon fa fa-eye"></span>مشاهده ی جزئیات</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="ui one column stackable center aligned page grid navigation">
        <div class="pagination menu column twelve wide ui" style="font-size: 18px">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}