{% extends ':operator/dashboard:layout.html.twig' %}
{% block title %}
    نمایش مرسوله
{% endblock %}
{% block page_title %}
    مرسوله
{% endblock %}
{% block breadcrumbs %}
    <li><a href="{{ path('app_operator_dashboard_shipment_index') }}">مرسوله ها</a></li>
    <li class="active">نمایش</li>
{% endblock %}
{% block stylesheets %}
    {{ parent()  }}
    {% stylesheets
    'bundles/app/stylesheets/operator/dashboard/shipment/show/style.css'
    'bundles/app/sass/operator/dashboard/driverList/showPageStyle.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent()  }}
    {% javascripts
    'assets/vendor/socket.io-client/dist/socket.io.js'
    'bundles/app/javascript/operator/dashboard/shipment/show/map.js'
    %}
    <script src="{{ asset_url }}"></script>
    <script src="{{ getGoogleMapInitLink() }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block main %}
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">مرسوله</span>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>شماره مرسوله</th>
                    <th>توضیحات</th>
                    <th>وضعیت</th>
                    <th>زمان انجام</th>
                    <th>زمان ایجاد</th>
                    <th>قیمت</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ shipment.id }}</td>
                    <td>{{ shipment.description }}</td>
                    <td>
                        {% if shipment.status == constant('STATUS_NOT_ASSIGNED',shipment) %}
                            <span>انتصاب نشده</span>
                        {% elseif  shipment.status == constant('STATUS_ASSIGNMENT_SENT',shipment) %}
                            <span>در حال بررسی</span>
                        {% elseif   shipment.status == constant('STATUS_REJECT',shipment) %}
                            <span>لغو توسط اپراتور</span>
                        {% elseif  shipment.status == constant('STATUS_ASSIGNED',shipment) %}
                            <span>انتصاب شده</span>
                        {% elseif  shipment.status == constant('STATUS_CANCEL',shipment) %}
                            <span>کنسل شده توسط مشتری</span>
                        {% elseif  shipment.status == constant('STATUS_CUSTOMER_FAILED',shipment) %}
                            <span>لغو توسط مشتری</span>
                        {% elseif  shipment.status == constant('STATUS_ON_PICK_UP',shipment) or  shipment.status == constant('STATUS_PICKED_UP',shipment)  %}
                            <span> تحویل مرسوله به راننده</span>
                        {% elseif shipment.status == constant('STATUS_ON_DELIVERY',shipment)  %}
                            <span>در حال رساندن مرسوله به مشتری</span>
                        {% elseif  shipment.status == constant('STATUS_DRIVER_FAILED',shipment) %}
                            <span>لغو توسط راننده</span>
                        {% elseif  shipment.status == constant('STATUS_WAITING_FOR_PAYMENT',shipment) %}
                            <span>پرداخت نشده</span>
                        {% elseif shipment.status == constant('STATUS_DELIVERED',shipment) %}
                            <span>تحویل مرسوله با موفقیت</span>
                        {% else %}
                            <span>نامعلوم</span>
                        {% endif %}
                    </td>
                    <td>{% if shipment.pickUpTime %}{{ shipment.pickUpTime|jdate('Y/m/d H:i:s') }}{% endif %}</td>
                    <td>{% if shipment.createdAt %}{{ shipment.createdAt|jdate('Y/m/d H:i:s') }}{% endif %}</td>
                    <td>{{ shipment.price }}</td>
                </tr>
                </tbody>
            </table>
            <div data-token = {{ tracking_token }} id="show-shipment-map"></div>
            <div>
                <a style="margin-right: 10px;margin-top: 20px" class="btn btn-sm btn-labeled btn-primary" href="{{ path('app_operator_dashboard_shipment_index') }}">فهرست مرسوله ها</a>
                {#<a style="color: black" href="{{ path('app_operator_dashboard_shipment_edit', { 'id': shipment.id }) }}"><button>ویرایش</button></a>#}
                {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="حذف">#}
                {#{{ form_end(delete_form) }}#}
            </div>
        </div>
    </div>
{% endblock %}
