{{ form_start(rate_form) }}
    {{ form_errors(rate_form) }}
{% form_theme rate_form 'shipment/rate_form_theme.html.twig' %}

<div class="form-group">
    <div class="col-sm-5">
        {{ form_widget(rate_form.point, {"attr": {"placeholder": rate_form.point.vars.label}}) }}
    </div>
</div>
<div class="form-group">
    <div class="col-sm-2">
    {{ form_label(rate_form.description, null, {"label_attr":{"class": "col-sm-2 control-label"}}) }}
    </div>
    <div class="col-sm-5">
        {{ form_widget(rate_form.description, {"attr": {"placeholder": rate_form.description.vars.label}}) }}
    </div>
</div>
<div class="form-group">
    {{ form_label(rate_form.save, null, {"label_attr":{"class": "col-sm-2 control-label"}}) }}
    <div class="col-sm-5">
        {{ form_widget(rate_form.save, {"attr": {"placeholder": rate_form.save.vars.label,"class":"btn btn-success"}}) }}
    </div>
</div> <!-- / .form-group -->
{{ form_end(rate_form) }}