<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}بازیابی رمز عبور{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets
        'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
        'bundles/app/pixeladmin/assets/stylesheets/pixel-admin.min.css'
        'bundles/app/pixeladmin/assets/stylesheets/pages.min.css'
        'bundles/app/pixeladmin/assets/stylesheets/rtl.min.css'
        'bundles/app/pixeladmin/assets/stylesheets/themes.min.css'
        'assets/vendor/font-awesome/css/font-awesome.css'
        'bundles/app/stylesheets/operator/dashboard/layout.css'
        'bundles/app/stylesheets/operator/dashboard/security/login/style.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    {% block javascripts %}
        {% javascripts
        'assets/vendor/jquery/dist/jquery.js'
        'bundles/app/pixeladmin/assets/javascripts/bootstrap.min.js'
        'bundles/app/pixeladmin/assets/javascripts/pixel-admin.min.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}" ></script>
        {% endjavascripts %}
    {% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body dir="rtl" class="theme-default page-signin">
<!-- Page background -->
<div id="page-signin-bg">
    <!-- Background overlay -->
    <div class="overlay"></div>
    <!-- Replace this with your bg image -->
    <img src="{{ asset('bundles/app/pixeladmin/assets/demo/signin-bg-1.jpg') }}" alt="">
</div>
<!-- / Page background -->

<!-- Container -->
<div class="signin-container">
    <!-- Left side -->
    <div class="signin-info">
        <a href="" class="logo">
            <img src="{{ asset('bundles/app/pixeladmin/assets/demo/logo-big.png') }}" alt="" style="margin-top: -5px;">&nbsp;
            Roapp
        </a> <!-- / .logo -->
        <div class="slogan">
            سریع و مطمئن
        </div> <!-- / .slogan -->
        <ul>
            <li><i class="fa fa-sitemap signin-icon"></i> مدیریت مرسوله ها</li>
            <li><i class="fa fa-file-text-o signin-icon"></i>مدیریت راننده ها</li>
            {#<li><i class="fa fa-outdent signin-icon"></i> RTL direction support</li>#}
            {#<li><i class="fa fa-heart signin-icon"></i> Crafted with love</li>#}
        </ul> <!-- / Info list -->
    </div>
    <!-- / Left side -->

    <!-- Right side -->
    <div class="signin-form">
        <!-- Form -->
        <div class="signin-text">
            <span><b>رمز عبور جدید</b></span>
        </div>
        {% for flash_message in app.session.flashBag.get('invalid_data') %}
            <div class="alert alert-warning">
                {{ flash_message }}
            </div>
        {% endfor %}
        {{ form_start(recoveryPasswordForm) }}
        {%  if recoveryPasswordForm.newPassword.first.vars.errors|length %}
        <div class="alert alert-warning">
            {{ form_errors(recoveryPasswordForm.newPassword.first) }}
        </div>
        {% endif %}
        <div id="signin-form_id" class="">
            <!-- / .signin-text -->
            <div class="form-group  w-icon">
                {{ form_widget(recoveryPasswordForm.newPassword.first, {"attr": {"placeholder": recoveryPasswordForm.newPassword.first.vars.label}}) }}
            </div>
            <div class="form-group  w-icon">
                {{ form_widget(recoveryPasswordForm.newPassword.second, {"attr": {"placeholder": recoveryPasswordForm.newPassword.second.vars.label}}) }}
            </div> <!-- / Username -->

            <div class="form-actions">
                <input type="submit" value="ورود" class="btn btn-primary btn-md">
            </div> <!-- / .form-actions -->
        </div>
        {{ form_end(recoveryPasswordForm) }}
        <!-- / Password reset form -->
    </div>
    <!-- Right side -->
</div>
<!-- / Container -->
</body>